<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Patients Gender</title>
        <script src="https://cdn.jsdelivr.net/npm/echarts@5.3.2/dist/echarts.min.js"></script>
    </head>
    <body>
        <div id="main" style="width: 600px; height: 400px"></div>
    </body>
    <script>
        const rawdata = '<%- data%>';
        const data = JSON.parse(rawdata);
        console.log(data);

        const main = document.getElementById("main");
        // on which dom object you want to render your chart
        var myChart = echarts.init(main);

        //meta data about the chart
        option = {
            xAxis: {
                type: "category",
                data: [data[0].gender, data[1].gender],
            },
            yAxis: {
                type: "value",
            },
            series: [
                {
                    data: [data[0].count, data[1].count],
                    type: "bar",
                    showBackground: true,
                    backgroundStyle: {
                        color: "rgba(180, 180, 180, 0.2)",
                    },
                },
            ],
        };

        myChart.setOption(option);
    </script>
</html>
